@import "tailwindcss";

@theme {
  --color-appBg: #0b0c10;
  --color-panelBg: #111217;
  --color-softBg: #1f1e24;
  --color-borderSoft: rgba(255, 255, 255, 0.08);
  --color-accent: #7c6cff;
  --color-violet: #6660a6;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background: #0b0c10;
  overflow: hidden;
}

/* globals.css */
.glass {
  background: rgba(10, 12, 18, 0.72);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.03);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.28);

  position: relative;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: inherit;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03),
    transparent
  );

  pointer-events: none;
}
